
@{
    ViewBag.Title = "CrearCuenta";
}
    <form action="/home/CrearCuenta" method="post">
        Ingrese nombre 
        <input id="nombre" name="nombre" />
        Ingrese la categoria 
        <select id="categoria" name="categoria">
            <option value="1">Propia</option>
            <option value="2">Credito</option>
        </select>
        Ingrese el saldo 
        <input id="saldo" name="saldoinicial" />
        <button id="boton">Enviar</button>
    </form>
<h2>CrearCuenta</h2>

